.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Style the button with the class name "square" */
.square {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #92e495; /* Green background color */
  color: white; /* White text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add some border radius for rounded corners */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Hover state for the button with the class name "square" */
.square:hover {
  background-color: #0ee619; /* Darker green on hover */
}
